<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2026, WSO2 LLC. (https://www.wso2.com).
 ~
 ~ WSO2 LLC. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied. See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<DPDPAccelerator xmlns="http://wso2.org/projects/carbon/dpdp-accelerator.xml"
                 xmlns:svns="http://org.wso2.securevault/configuration">
    <ConsentPortal>
        {% if dpdp_accelerator.consent_portal.auto_provisioning_enabled is defined %}
        <AutoProvisioningEnabled>{{dpdp_accelerator.consent_portal.auto_provisioning_enabled}}</AutoProvisioningEnabled>
        {% else %}
        <AutoProvisioningEnabled>true</AutoProvisioningEnabled>
        {% endif %}
        {% if dpdp_accelerator.consent_portal.client_id is defined %}
        <ClientId>{{dpdp_accelerator.consent_portal.client_id}}</ClientId>
        {% else %}
        <ClientId>DPDP_CONSENT_PORTAL</ClientId>
        {% endif %}
    </ConsentPortal>
    <EventNotifications>
        <ThreadPoolSize>{{dpdp_accelerator.event_notifications.thread_pool_size}}</ThreadPoolSize>
        <BaseBackoffSeconds>{{dpdp_accelerator.event_notifications.base_backoff_seconds}}</BaseBackoffSeconds>
        <MaxRetries>{{dpdp_accelerator.event_notifications.max_retries}}</MaxRetries>
        <AllowHttpCallbackUrl>{{dpdp_accelerator.event_notifications.allow_http_callback_url}}</AllowHttpCallbackUrl>
        <DeliveryWorkerBatchSize>{{dpdp_accelerator.event_notifications.delivery_worker_batch_size}}</DeliveryWorkerBatchSize>
        <DeliveryWorkerPollSeconds>{{dpdp_accelerator.event_notifications.delivery_worker_poll_seconds}}</DeliveryWorkerPollSeconds>
        <StuckInFlightThresholdSeconds>{{dpdp_accelerator.event_notifications.stuck_inflight_threshold_seconds}}</StuckInFlightThresholdSeconds>
        <MaxVerificationResponseBodyBytes>{{dpdp_accelerator.event_notifications.max_verification_response_body_bytes}}</MaxVerificationResponseBodyBytes>
        <PendingSubscriptionRecoveryThresholdSeconds>{{dpdp_accelerator.event_notifications.pending_subscription_recovery_threshold_seconds}}</PendingSubscriptionRecoveryThresholdSeconds>
    </EventNotifications>
</DPDPAccelerator>
